html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}
.contenedor {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.menu-contenedor {
  display: table-cell;
  width: 250px;
  vertical-align: top;
  background-color: #4a8500;
  box-sizing: border-box;
}
.menu-contenedor .menu-titulo {
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}
.menu-contenedor .menu-titulo .menu-boton {
  float: right;
  margin: 20px 13px;
  border: 3px solid rgba(254, 254, 254, 0.2);
  border-radius: 6px;
  background-color: transparent;
  width: 32px;
  height: 30px;
  color: rgba(254, 254, 254, 0.2);
  display: inline-block;
}
.menu-contenedor .menu-titulo p {
  color: rgba(254, 254, 254, 0.2);
  display: inline-block;
  margin-top: 10px;
  font-size: 35px;
}
.menu-contenedor.menu-cerrado {
  width: 60px !important;
}
.menu-contenedor.menu-cerrado .menu-titulo p {
  display: none;
}
.menu-contenedor.menu-cerrado .menu-navegacion li a:hover {
  background-color: #4a8500;
  width: 250px;
}
.menu-contenedor.menu-cerrado .menu-navegacion li a:hover span {
  display: inline-block !important;
}
.menu-contenedor.menu-cerrado .menu-navegacion li a span {
  display: none;
}
.menu-contenedor.menu-abierto {
  width: 250px !important;
}
.menu-contenedor.menu-abierto .menu-titulo p {
  display: inline-block !important;
}
.menu-contenedor.menu-abierto .menu-navegacion {
  display: block!important;
}
.menu-contenedor.menu-abierto .menu-navegacion li a span {
  display: inline-block !important;
}
.menu-contenedor.menu-abierto .menu-navegacion li.sub-menu > a:before {
  font-family: 'Glyphicons Halflings';
  content: '\e258';
  display: inline-block;
  float: right;
  margin-top: 2px;
  margin-right: 15px;
  font-size: 12px;
  transition: all 300ms ease-in-out;
}
.menu-contenedor.menu-abierto .menu-navegacion li.sub-menu.abierto > a:before {
  transform: rotate(90deg);
}
.menu-navegacion {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.menu-navegacion li {
  position: relative;
  margin: 0;
  font-size: 14px;
}
.menu-navegacion li a {
  text-decoration: none;
  color: #EEE;
  position: relative;
  display: block;
  padding: 10px 0 10px 22px;
  transition: all 300ms ease-in-out;
  border-bottom: 1px solid rgba(254, 254, 254, 0.2);
}
.menu-navegacion li a i {
  top: 1px;
  display: inline-block;
  font-size: 15px;
  margin-right: 5px;
}
.menu-navegacion li a:last-child {
  border-bottom: none!important;
}
.menu-navegacion li a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #FFF;
}
.menu-navegacion li ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: none;
}
.menu-navegacion li ul > li {
  position: relative;
  margin: 0;
  font-size: 14px;
  border-bottom: 1px solid rgba(254, 254, 254, 0.2);
}
.menu-navegacion li ul > li a {
  padding: 10px 0 10px 30px;
  background: rgba(0, 0, 0, 0.1);
  display: -ms-flexbox;
  display: flex;
}
.contenido {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .menu-contenedor {
    display: table-row;
    width: 100%!important;
    vertical-align: top;
    height: 70px;
  }
  .menu-contenedor .menu-titulo p {
    display: inline-block !important;
  }
  .menu-contenedor.menu-minimizado .menu-navegacion {
    display: none;
    margin: 0;
  }
  .menu-contenedor.menu-minimizado .menu-navegacion a span {
    display: inline-block !important;
  }
}
@media only screen and (max-width: 992px) {
  .menu-contenedor {
    width: 60px;
  }
  .menu-contenedor .menu-titulo p {
    display: none;
  }
  .menu-contenedor.menu-cerrado .menu-navegacion {
    display: block!important;
  }
  .menu-contenedor.menu-cerrado .menu-navegacion a span {
    display: none;
  }
}

/*# sourceMappingURL=xitlalli.css.map */
